.header {
  font-size: xx-large;
  margin-top: 50px;
  margin-bottom: 50px;
}
.header p {
  font-size: x-large;
  text-align: justify;
}
.header div {
  text-align: center;
  margin-top: 20px;
}
h1{
  font-size:45px;
  font-weight:lighter;
  color: #000;
}

.whatsApp :hover{
  color: #25D366;
}
.facebook :hover{
  color: #3b5998;
}
.instagram:hover{
  color:  rgb(224, 42, 93) ;
}
.linkedIn:hover{
  color: #0072b1;
}
.telegram:hover{
  color: #0088CC;
}
.github:hover{
color: #42424263;
}
/* .gmail:hover{
  color:#BB001B;
} */
