.header {
  font-size: x-large;
  margin-top: 50px;
  margin-bottom: 50px;
}
.header p {
  font-size: 22px;
  text-align: justify;
}
.header div {
  text-align: center;
  margin-top: 20px;
}
h1{
  font-size:40px;
  font-weight:lighter;
  color: #000;
}
